body {
	background-color: #dbdbdb;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-repeat: no-repeat;
}
@font-face {
	font-family:Sansation;
    src: url(fonts/Sansation_Regular.ttf);
}
@font-face {
	font-family:Sansation;
    src: url(fonts/Sansation_Bold.ttf);
    font-weight:bold;
}
#logo {
    background-image: url(../img/hablife.png);
    width: 253px;
    height: 210px;
    margin-top: 40px;
    margin-right: 297px;
    float: left;
    background-repeat: no-repeat;
}
#web{
    width: 1000px;
    max-width: 1000px;
    overflow: hidden;
    height: auto;
    margin:auto;
}
#header{
	background-image: url(../img/Parque.png);
	height: 250px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #73C1F3;
}

#small{
    width:290px;
    background:#ffffff;
    border:rgba(00,00,00,.3) 1px solid;
    box-shadow:rgba(00,00,00,.1) 0 -2px inset;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
}
#large{
    width:622px;
    background:#ffffff;
    border:rgba(00,00,00,.3) 1px solid;
    box-shadow:rgba(00,00,00,.1) 0 -2px inset;
    padding:5px;
    margin-top:5px;
    border-radius:5px;
    float:left;
    margin-bottom:5px;
}
.titulo_orange{
    font-size:14px;
    color: #FF9E1B;
    border-bottom:#FF9E1B 2px solid;
    margin:0 0 2px 0;
    padding-bottom:3px;
}
.titulo_fb{
    font-size:14px;
    color:#2a62c9;
    border-bottom:#2a62c9 2px solid;
    margin:0 0 2px 0;
    padding-bottom:3px;
}
.titulo_red{
    font-size:14px;
    color:#af3333;
    border-bottom:#af3333 2px solid;
    margin:0 0 2px 0;
    padding-bottom:3px;
}
.titulo_blue{
    font-size:18px;
    color:#4d94bc;
    border-bottom:#4d94bc 2px solid;
    margin:0 0 2px 0;
    padding-bottom:3px;
}
.news{
    background: -moz-linear-gradient(top, #ededed, #e3e3e3);
    box-shadow:rgba(00,00,00,.05) 0 -2px inset;
    padding:5px;
    cursor:pointer;
    text-align:center;
}
.news a{
    color:#6e6e6e;
    box-shadow:rgba(00,00,00,.05) 0 -2px inset;
    text-decoration:none;
}

hr{
    background:rgba(00,00,00,.35);
    height:1px;
    margin:3px 0 3px 0;
    border:0;
}

/* B O M A R D E S I G N */
.Content
{
	width: 100%;
	height: auto;
	position: relative;
}

.clear
{
	clear: both;
}

.Left
{
	width: 630px;
	height: auto;
	float: left;
	position: relative;
	margin-top: 10px;
	overflow: hidden;
	margin-left: 8px;
	left: 0px;
    
   
}

.Right
{
	float: right;
	width: 300px;
	margin-top: 5px;
	position: relative;
	margin-right: 8px;
}

article.Articles
{
	width: 622px;
	padding: 4px;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
}

article.Articles .head
{
	background: rgba(243,243,243,1);
	width: 600px;
	height: 30px;
	padding: 4px;
	line-height: 30px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: solid 1px rgba(196,196,196,0.9);
	box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.6), 0px 2px 0px 0px rgba(0,0,0,0.2)
}

article.Articles .temp
{
	background: rgba(249,249,249,0.8);
	width: 600px;
	height: auto;
	min-height: 20px;
	padding: 4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: solid 1px rgba(196,196,196,0.9);
	border-bottom: solid 1px rgba(196,196,196,0.9);
	border-right: solid 1px rgba(196,196,196,0.9);
	position: relative;
	text-shadow: 0px 1px rgba(255,255,255,0.9);
	margin-bottom: 5px;
	box-shadow: inset 0px -2px 0px 0px rgba(196,196,196,0.3)
}

article.Articles h2
{
	font-size: 16px;
	position: relative;
	top: 0px;
	margin: 0px;
	font-weight: normal;
	text-shadow: 0px 1px rgba(255,255,255,0.9);
}

footer{
  background-color:#144d79; 
    width: 945px;
    height: 42px;
    margin: auto;
    border-radius:2px;
    box-shadow:rgba(255,255,255,0.05) 0 5px inset, rgba(00,00,00,0.12) 0 -5px inset, rgba(00,00,00,0.1) 0 2px;
    color:#ffffff;
    text-shadow:rgba(00,00,00,.75) 0 2px;
    position: relative;
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

footer a{
    background:rgba(00,00,00,.5);
    position: relative;
    height: auto;
    padding: 8px;
	top: 15px;
	left: 10px;
    border-radius:2px;
    text-decoration:none; 
    color:rgba(255,255,255,1.00);
}

footer a.al
{
    background:rgba(00,00,00,.5);
    position: relative;
    height: auto;
    padding: 8px;
	top: 7px;
    border-radius:2px;
    float: right;
    margin-right: 15px;
    text-shadow:rgba(00,00,00,1) 0 2px;
}

#dj_says
{
    background:rgba(255,255,255,.5);
    width: 100px;
    height: 18px;
    border: rgba(255,255,255,.3) 1px solid;
    border-radius: 2px;
    text-align: center;
    color: rgba(00,00,00,.7);
    font-size: 14px;
    padding: 20px 0 0 0;
    text-shadow: rgba(255,255,255,.35) 0 1px;
    cursor: pointer;
    float: left;
    position: relative;
    top: 90px;
    right: 2px;
}

#header a img
{
    position: relative;
    top: 25px;
}

nav
{
    background: #144d79;
    width: 100%;
    height: 48px;
    margin: auto;
    border-radius:2px;
	line-height: 48px;
    font-family: Sansation;
    text-align: center;
    box-shadow:rgba(255,255,255,0.05) 0 5px inset, rgba(00,00,00,0.12) 0 -5px inset, rgba(00,00,00,0.1) 0 2px;
}

nav ul
{
	width:900px; 
	margin:auto; 
	font-size:15px;
	position: relative;
	list-style: none;
	padding: 0px;
}

nav ul li
{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

nav ul li a
{
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
}

nav ul li:hover
{
	background: rgba(255,255,255,0.1);
	font-weight: bold;
}
#menu, #menu ul {
            list-style:none;
            padding:0;
            margin:0;
        }
        /* hace referencia a los primeros enlaces */
        #menu li {
            float:left;
            position:relative;
            width: 10em;
        }
        /* hace referencia a los segundos submenus */
        #menu li ul {
            position:absolute;
            display:none;
        }
        /* hace referencia a los terceros submenus */
        #menu li ul li ul {
            margin-top:-2.2em;
            margin-left:10em;
        }
        /* hace referencia a los cuartos submenus */
        #menu li ul li ul li ul {
            margin-top:-2.2em;
            margin-left:10em;
        }
 
        /* hace referencia al formato de los enlaces */
        #menu a {
            display:block;
            border-right:1px solid #fff;
            background:#E0F574;
            color:#3B3B3B;
            text-decoration:none;
            padding:10px;
        }
        /* hace referencia al formato 
           cuando se pasa el raton por encima del enlace */
        #menu a:hover {
            background-color:#5798B4;
            color:#fff;
        }
        /* hace referencia a los bloques de los segundos menus en adelante */
        #menu ul {
            border-top:1px solid #fff;
        }
        /* hace referencia al formato
           del enlaces de los segundos menus en adelante */
        #menu ul a {
            border-right:none;
            border-right:1px solid #fff;
            border-bottom:1px solid #fff;
            border-left:1px solid #fff;
            background:#AEC245;
        }
 
        /* esconde los menus de tercer nivel cuando estamos en el primer nivel */
        #menu li:hover ul ul {
            display:none;
        }
        /* esconde los menus de cuarto nivel cuando estamos en el primer nivel */
        #menu li:hover ul ul ul {
            display:none;
        }
        /* esconde los menus de cuarto nivel cuando estamos en el segundo nivel */
        #menu li ul li:hover ul ul {
            display:none;
        }
        /* muestra los menus de segundo nivel */
        #menu li:hover ul {
            display:block;
        }
        /* muestra los menus de tercer nivel */
        #menu li ul li:hover ul{
            display:block;
        }
        /* muestra los menus de cuarto nivel */
        #menu li ul li ul li:hover ul{
            display:block;
        }

#small img
{
    margin-top: 3px;
    margin-bottom: 5px;
}

article.Articles .temp h4
{
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 4px;
    color: marine;
    border-bottom: solid 1px rgba(41,41,41,0.2);
}

form.Addsled
{
    width: 100%;
    height: auto;
    margin-top: 5px;
}

form.Addsled fieldset
{
    height: auto;
    border: solid 1px rgba(41,41,41,0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.6);
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left !important;
}

form.Addsled fieldset label
{
    font-size: 12px;
    font-weight: bold;
    color: rgba(41,41,41,0.6);
    display: block;
    margin-top: 3px;
}

form.Addsled fieldset input[type=text],input[type=password],input[type=email]
{
    background: rgba(255,255,255,0.5);
    width: 60%;
    height: 26px;
    border: solid 1px rgba(51,51,51,0.2);
    border-radius: 2px;
    padding: 5px;
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.9);
    text-shadow: 0px 1px rgba(255,255,255,0.5);
    color: rgba(51,51,51,0.6);
}

form.Addsled fieldset input[type=text]:hover,input[type=password]:hover,input[type=email]:hover
{
    box-shadow: none;
    border: solid 1px rgba(42,98,201,0.4);
    color: rgba(42,98,201,0.6);
}

form.Addsled input[type=submit]
{
    background: rgba(41,41,41,1);
    width: auto;
    height: auto;
    padding: 8px;
    position: relative;
    display: block;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,0.9);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
    cursor: pointer;
    margin: 6px;
}

form.Addsled span.cancel
{
    background: rgba(41,41,41,1);
    width: auto;
    height: auto;
    padding: 8px;
    position: relative;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,0.9);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
    cursor: pointer;
    margin: 6px;
    display: inline-block;
    text-shadow: 0px 1px rgba(0,0,0,0.9);
}

/* Dise単o para alertas */
#Alerta
{
    display: block;
}

.Alerta
{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px 2px 10px 2px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    text-align: center;
    margin-top: 4px;
    color: rgba(255,255,255,1);
    font-size: 12px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.Alerta span
{
    display: inline-block;
    background: rgba(0,0,0,0.2);
    width: auto;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    height: auto;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.Alerta span:hover
{
    background: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.8);
}

.succes
{
    background: rgba(62,163,42,0.7);
    border: solid 1px rgba(46,157,34,0.4);
    height: auto;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3), inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    position: relative;
    line-height: auto;
}

.dangers
{
    background: rgba(200,75,75,0.9);
    border: solid 1px rgba(157,34,34,0.4);
    height: auto;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3), inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    position: relative;
    line-height: auto;
}

/* Dise単o perfiles */
section.profile
{
    width: 90%;
    height: auto;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

section.profile fieldset
{
    width: auto;
    min-width: 40%;
    max-width: 90%;
    height: auto;
    border: solid 1px rgba(41,41,41,0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.6);
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 25px;
    text-align: center;
}

section.profile fieldset img
{
    margin: auto;
}

section.profile fieldset.text
{
    width: auto;
    min-width: 40%;
    max-width: 90%;
    height: 26px;
    border: solid 1px rgba(41,41,41,0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.6);
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 26px;
    text-align: left;
}

section.profile fieldset.text span
{
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.4);
    width: auto;
    padding: 4px;
    padding-bottom: 6px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    border: solid 1px rgba(41,41,41,0.3);
}

section.profile fieldset.button span
{
    background: rgba(41,41,41,1);
    width: auto;
    height: auto;
    padding: 8px;
    position: relative;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,0.9);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
    cursor: pointer;
    margin: 6px;
    display: inline-block;
    text-shadow: 0px 1px rgba(0,0,0,0.9);
}

/* Dise単o team */
section.Team fieldset.team
{
    width: 60%;
    height: auto;
    border: solid 1px rgba(41,41,41,0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.6);
    border-radius: 2px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

section.Team fieldset.team h5
{
    color: rgba(42,98,201,0.9);
    font-size: 16px !important;
    margin: 0px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 6px;
    border-bottom: solid 1px rgba(42,98,201,0.9)
}

section.Team fieldset.team span.rank
{
    display: block;
    width: 100%;
}

section.Team fieldset.team span img
{
    float: left;
}

section.Team fieldset.team span span
{
    margin-top: 30px;
    float: left;
    font-size: 14px;
    padding-bottom: 2px;
}

section.Team fieldset.team span span a
{
    color: rgba(42,98,201,0.9);
    font-weight: bold;
}

.Float
{
    position: absolute;
    top: 15px;
    left: 15px;
    right: ;
    z-index: 9999;
}

.Float fieldset
{
    background: rgba(41,41,41,1);
    width: auto;
    height: auto;
    padding: 8px;
    position: relative;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,0.9);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
    cursor: pointer;
    margin: 6px;
    display: inline-block;
    text-shadow: 0px 1px rgba(0,0,0,0.9);
}

/*Dise単o para numero de paginas */
.numPag
{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.numPag a
{
    background: rgba(48,48,48,0.05);
    width: auto;
    height: auto;
    padding: 4px 6px 4px 6px;
    position: relative;
    border-radius: 2px;
    border: solid 1px rgba(48,48,48,0.3);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.4);
    margin-top: 4px;
    margin-bottom: 5px;
    color: rgba(48,48,48,0.8);
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
}

.numPag a.unique
{
    background: rgba(48,48,48,0.3);
    width: auto;
    height: auto;
    padding: 4px 6px 4px 6px;
    position: relative;
    border-radius: 2px;
    border: solid 1px rgba(48,48,48,0.3);
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1);
    margin-top: 4px;
    margin-bottom: 5px;
    color: rgba(48,48,48,0.8);
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
}

.numPag a:hover
{
    box-shadow: inset 0px 2px 0px 0px rgba(48,48,48,0.05);
    color: rgba(48,48,48,1);
    font-family: UbuntuB;
}
.numPag a.unique:hover
{
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.2);
    color: rgba(48,48,48,1);
    font-family: UbuntuB;
}